

.App {
  text-align: center;
  height: 100%;
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
}


.Header {
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2%;
  /* background-color: red; */
  width: 60px;
} 

.back{
  position : fixed;
  bottom: 0;
  left:0;
}

.Start{
  position : fixed;
  bottom: 0;
  right:0;
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50%;
  height: 30%;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 10%;
  background-color: #51B2DF
}

.dropzone2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50%;
  height: 400px;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 10%;
  background-color: #51B2DF
}

.dropzone > div{
  position: absolute;
  z-index: 1;
}

.dropzone > input{
  position: relative;
  text-align: right;
  border: 1px solid red;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 400px;
  width: 100%;
  background-color: aliceblue 
}

.active {
  background-color: #5f5959 
}

button {
  padding: 1rem;
  margin: 1rem;
  font-size: medium;
  border: 2px solid white;
  color: white;
  background-color: #51B2DF
}

/* page3 */
.page3Btn{
  margin-top:70px;
  width: 300px;
  height: 300px;
  font-size: 40px;
}


/* //page4 */
.Img{
  width: 500px;
  margin-right: 100px;
}

.Scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 600px;

}
.ImgDis{
  display: flex;
  justify-content: center;

}
.Page4Wrap{
  text-align: center;
  justify-content: center;
}
.Table{
  width: 500px;
  border:1px solid black
}